# === Gradle build ===
.gradle/
build/
# Keep Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# === Java artifacts ===
*.class
*.log

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr
out/

# === Eclipse ===
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/
bin/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === OS junk ===
.DS_Store
Thumbs.db

# === Config ===
src/main/resources/config.properties